#contact iframe {
    width: 100%;
    height: 35em;
}

#contact {
    padding-bottom: 0;
    padding-top: 0;
}

#nav-wrap {
    background: #313131;
}

.fa-arrow-up {
    padding-top: 2rem;
}

.item-wrap {
    height: 160px;
    width: 210px;
}

.item-wrap img {
    width: 100%;
    height: 100%;
}

.address {
    color: #838C95;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:13px;
	height:40px;
	line-height:42px;
	color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}